[Desktop Entry]
Name=Audio Splitter
Comment=Play desktop audio through multiple outputs
Type=Application
Icon=io.github.okrroni.cosmic_audio_splitter
Exec=cosmic-audio-splitter
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;COSMIC;
Keywords=audio;sound;speaker;output;split;PipeWire;COSMIC;
